.cart {
    display: block;
    height: 48rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}
.checkout-section {
    text-align: center;
}

.buy-button {
    height: 2.2rem;
    background-color: red;
    width: 14rem;
    color: white;
    border: 1px solid red;
}
