.container {
    display: flex;
    margin-bottom: 3rem;
}
.container-card {
    display: flex;
}

/* CATEGORIAS */

.category-item {
    cursor: pointer;
    opacity: .7;
}

.category-item:hover{
    opacity: 1;
    background-color: #fff;
}

.category-span {
    font-size: 1.5rem;
    width: 15rem;
}
