.container {
    display: flex;
    margin-bottom: 3rem;
}
.container-card {
    display: flex;
}

/* CATEGORIAS */

.container__category {
    margin: 0.5rem;
    position: relative;
    left: -6rem;
    cursor: pointer;
}

.category-span {
    font-size: 1.5rem;
    width: 15rem;
}
